<img src="/assets/img/burger.gif" alt="Da Burger" id="burgerLogo">
<p> These have Yet to be DEVOURED! </p>
{{#each burgers}}
		{{#unless this.devoured}}
			<form method="POST" action="/{{this.id}} ?_method=PUT">
				<div>{{this.id}}. {{this.burger_name}}</div>
				<input type="hidden" name="devoured" value="true">
				<button type="submit">Devoure Me!</button>
			</form>
		{{/unless}}
	{{/each}}

<p>These have been devoured! </p>
{{#each burgers}}
		{{#if this.devoured}}
			
				<div>{{this.id}}. {{this.burger_name}}</div>
		
		{{/if}}
	{{/each}}
	

